.parentAdminRoute{
    width: 100%;
    height: 100vh;
    position: relative;
}
.bodyAdminRoute{
    width: 83%;
    float: right;
    transition: 500ms;
}
.bodyAdminRouteCollapsed{
    width: 95%;
    float: right;
    transition: 500ms;
}